{
  "extends": ["react-app", "eslint:recommended"],
  "ignorePatterns": ["node_modules"],
  "rules": {
    "no-use-before-define": ["error"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "args": "all",
        "ignoreRestSiblings": false
      }
    ]
  }
}
