.card {
  width: 270px;
  min-height: 380px;
  background: #e4e6ff;
  position: relative;
  float: left;
  margin: 30px 0 0 30px;
  border-radius: 30px;
}

.card-short .ant-card-body {
  height: 100%;
}

/* .card-long {
  width: 270px;
  height: 570px;
  margin-left: 50px;
  padding: 30px;
  background: #fff;
  position: relative;
} */

.card-header {
  height: 50px;
  border-bottom: 2px solid #c8c8c8;
  margin-bottom: 20px;
}

.card-header-title {
  font-weight: 900;
  font-size: 24px;
}

.card-content ul:last-child {
  margin-bottom: 0;
}

.card-content.loading {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.rank-sort {
  float: right;
  line-height: 32px;
}

.rank-sort .anticon {
  margin-left: 4px;
}

.rank-sort-item {
  padding: 4px 16px;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.bar-list {
  margin-bottom: 20px;
}

.bar-item {
  padding: 6px 0;
}

.bar-name {
  padding: 4px 0 8px;
}

.bar-bg-line {
  width: 100%;
  position: relative;
  height: 5px;
  border-radius: 2px;
  background: #cccccc;
}

.bar-line {
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background: #c00000;
}
