.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #4985fb;
  padding: 3rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

.chatCount {
  flex-grow: 1;
}

.info {
}

.title {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
}
