.layout {
  --dashboardLayout-paddingTop: 40px;
  padding-top: var(--dashboardLayout-paddingTop, 40px);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--dashboardLayout-paddingTop, 40px);
}

.content {
  display: flex;
  height: calc(100vh - var(--dashboardLayout-paddingTop, 40px));
}

.sidebar {
  flex: 0 1 20%;
  max-width: 250px;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: #f1f1f1;
}
