.App {
  text-align: center;
  background-color: #282c34;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-header {
  background-color: blue;
  height: 70px;
}

.ranking {
  display: Flex;
  justify-content: space-around;
}

.sideBar {
  float: left;
  width: 15%;
  background-color: blueviolet;
  height: 100vh;
}

/* Main */

.main {
}
/* Chat card */
.chat-card {
  background-color: #282c34;
  width: 300px;
}

.card-header {
  display: flex;
}

.ranking {
  display: Flex;
  flex-direction: column;
}

.ranking .ranking_ranker {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
